body {
    background: linear-gradient(to right, #000, #333);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.form-control {
    background-color: #222;
    border: none;
    color: white;
}
.btn-primary {
    background-color: #555;
    border: none;
}
.btn-primary:hover {
    background-color: #777;
}
.form-check-input {
    border-color: #777;
}
.form-check-label {
    user-select: none;
}
