button a {
    text-decoration: none;
    color: black;
}

button a:hover {
    text-decoration: none;
    color: black;
}

.nav-light, .nav-dark {
    position: fixed;
    transition: background-color 300ms ease-in-out;  
}

.nav-link-dark, .nav-link-light {
    transition: color 300ms ease-in-out;  
}

.nav-dark {
    background-color: black;
    color: white;  
}

.nav-light {
    background-color: white;
    color: black;
}

.nav-link-dark {
    color: white;
}

.nav-link-light {
    color: black;
}


#loginIcon, #logoIcon {
    transform: translateY(6px);
    
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

#firstSection {
    margin-top: 100px;
}

.carousel-item img {
    height: 400px;  
    object-fit: cover; 
    width: 100%; 
    border-radius: 50px;
}

#firstTextContainer{
    border-radius: 50px;
    background: linear-gradient(320deg, black 50%, gray 100%);
}

#secondTextContainer{
    border-radius: 50px;
    background: linear-gradient(160deg, black 50%, gray 100%);
}

#thirdSection {
    height: 500px;
}

#secondTextContainer .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.card {
    border-radius: 50px;
    background: linear-gradient(160deg, black 50%, gray 100%);

    .card-title {
        color: white;
    }

    .card-image {
        width: 100px;
        height: 150px;
        object-fit: cover;
    }

    .card-text {
        color: white;
    }
    

}




footer {
    height: 80px;
    background: linear-gradient(160deg, black 50%, gray 100%);

}
